// 变量
$rootFontSize: 14px;
$rootFontFamily: 'Consolas', '微软雅黑', 'Heiti';
$shadow: 0.2rem 0.3rem 0.4rem rgba(48, 48, 48, 0.4);
$shadowBottom: 0 0.2rem 0.3rem rgba(48, 48, 48, 0.4);
$shadowTop: 0 -0.1rem 0.2rem rgba(48, 48, 48, 0.4);
$borderColor: #888888;
// $borderWeight: #f00;
$popupBlockSize: 6vw;
* {
  margin: 0;
  padding: 0;
}

// Style rules
html {
  font-size: $rootFontSize;
}

body {
  background-color: #eeeeee;
  font-family: $rootFontFamily;
  overflow: hidden;
  user-select: none;
  // 兼容非移动平台的 web
  max-width: 450px;
  > * {
    max-width: 450px;
  }
}

h1,
h2 {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

.title {
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 5%;
  background: steelblue;
  color: white;
  margin-bottom: 2rem;
  box-shadow: $shadowBottom;
}

.container {
  padding: 0 5vw;
}

.row {
  display: flex;
  > span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
    // flex: 1;
    height: 4vw;
    line-height: 4vw;
    width: 30px;
    border-color: $borderColor;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-left-width: 1px;
    background-color: white;
    &.fixed {
      background-color: #f1f1f1;
    }
    &.empty {
      color: transparent;
    }
    &.mark1 {
      background: #cfeef9;
    }
    &.mark2 {
      background: lightgreen;
    }
    &.error {
      background: lightpink !important;
    }
    &.wrong {
      color: lightpink !important;
    }
    &.col_g_left {
      border-left-width: 1px;
    }
    &.col_g_right {
      border-right-width: 1px;
    }
    &:first-child {
      border-left-width: 2px;
    }
    &:last-child {
      border-right-width: 2px;
    }
  }
  &.row_g_top {
    > span {
      border-top-width: 1px;
      // border-color: $borderWeight;
    }
  }
  &.row_g_bottom {
    > span {
      border-bottom-width: 1px;
      // border-color: $borderWeight;
    }
  }
  &:first-child {
    > span {
      border-top-width: 2px;
    }
  }
  &:last-child {
    > span {
      border-bottom-width: 2px;
    }
  }
}

.dashboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background: steelblue;
  box-sizing: border-box;
  box-shadow: $shadowTop;
  height: 3rem;
  .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    button {
      font-family: $rootFontFamily;
      flex: 1;
      height: 3rem;
      font-size: 1.3rem;
      color: white;
      background: transparent;
      border: 1px solid #cccccc;
      border-top: none;
      border-right-width: 0;
      &:last-child {
        border-right-width: 1px;
      }
    }
  }
}

.popup-num {
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  margin-top: calc(6.5rem + 1px);
  margin-left: calc(5vw + 1px);
  box-shadow: $shadow;
  color: white;
  div {
    > span {
      background: steelblue;
      width: $popupBlockSize;
      height: $popupBlockSize;
      line-height: $popupBlockSize;
      font-size: 24px;
      border-color: white;
      &.mark {
        color: transparent;
      }
    }
  }
}
